<header>Reviews for <%= link_to(@wine.varietal, @wine) %></header>

<ol id="reviews">
  <% @reviews.each do |review| %>
  	<%= review.stars %> stars by <%= review.name %>
  	<%= time_ago_in_words(review.created_at) %> ago<br/>
    <p>
      &quot;<%= review.comment %>&quot;
    </p>
  <% end %>
</ol>

<%= link_to 'Write a Review', new_wine_review_path(@wine),
    remote: true,
    data: { 'update-target' => 'review_form_container' },
    class: 'btn btn-primary' %>

<div id="review_form_container"></div>

