<header>Reviews for <%= link_to(@wine.name, @wine) %></header>

<ol id="reviews">
  <% @reviews.each do |review| %>
    <li>
      <%= link_to(wine.varietal, wine) %> by <%= wine.name %><br/>
      <%= format_average_stars(wine) %>
      <% if wine.reviews.any? %>
        (out of <%= pluralize(wine.reviews.size, 'review') %>)
    </li>
  <% end %>
</ol>

<%= link_to 'Write a Review', new_wine_review_path(@wine) %>

